@import url(https://fonts.googleapis.com/css?family=Exo);
body {
    background-color: 	rgb(219, 240, 240);
    border-width: 2px;
    line-height: 1.5;
    text-align:left; 
    font-size: 12px;
    margin: 20px auto;
    font-family: 'Ubuntu', sans-serif;

}
hr{box-sizing:content-box;height:0;overflow:visible}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
     color:#525252;
  font-size:12px;
}

* {
   font-family: Arial, Verdana, sans-serif;
    box-sizing:border-box;
}
h1{
    font-size: 36px;
}
h2{
 color: #3E0B21;
font-size: 24px;
  margin-bottom: 25px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/* Container for skill bars */
.container {
    width: 450px; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

.Rlang {width: 95%; background-color: #1C65AE;} /*R Blue */
.Python {width: 40%; background-image: url(../images/Python_colors.png);} /* Python Blue And Yellow */
.HTML5 {width: 50%; background-color: #F16528;} /* HTML 5 Orange */
.CSS3 {width: 50%; background-color: #006FB7 ;} /* CSS3 Blue */
.JS {width: 50%; background-color: #E3B926 ;} /* JS Blue */
.QGIS {width: 80%; background-color: #699734;} /* QGIS 3 Green */
.ArcGIS {width: 90%; background-color: #80CFE4;} /* Some light blue from the ArcGIS desktop icon */
.MSoffice {width: 100%; background-image: url(../images/MSoffice_colors.png);} /* MS office colors */

.Rlang { 
  width:95%;  
  animation:Rlang 0.5s ease-out;
}
.Python { 
  width:40%;
  animation:Python 1s ease-out; 
}
.HTML5 { 
  width:50%;  
  animation:HTML5 1.5s ease-out;
}
.CSS3 { 
  width:50%;  
  animation:CSS3 2s ease-out;
}
.JS { 
  width:50%;  
  animation:JS 2s ease-out;
}
.QGIS { 
  width:80%;  
  animation:QGIS 2.5s ease-out;
}
.ArcGIS { 
  width:90%;  
  animation:ArcGIS 3s ease-out;
}
.MSoffice { 
  width:100%;  
  animation:MSoffic 3.5s ease-out;
}
@keyframes Rlang { 
  0%  { width:0px;} 
  100%{ width:95%;}  
}
@keyframes Python {
  0%  { width:0px;} 
  100%{ width:40%;}  
}
@keyframes HTML5 {
  0%  { width:0px;}
  100%{ width:50%;}
}
@keyframes CSS3 {
  0%  { width:0px;}
  100%{ width:50%;}
}
@keyframes JS {
  0%  { width:0px;}
  100%{ width:40%;}
}
@keyframes QGIS {
  0%  { width:0px;} 
  100%{ width:80%;}  
}
@keyframes ArcGIS {
  0%  { width:0px;} 
  100%{ width:90%;}  
}
@keyframes MSoffice {
  0%  { width:0px;} 
  100%{ width:100%;}  
}
